.stepperBox {
  margin: 36px;
}

.stepIcon {
  margin: auto 12px;
  height: 24px;
  width: 24px;
}

.guideline {
  background-color: #efefef;
  width: 4px;
  position: absolute;
  top: 36px;
  left: 84px;
}
